<nav>

</nav>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Fixed navbar -->
<header class="navbar navbar-expand sticky-top navbar-dark bg-custom ">
  <div class="container">

    <a class="navbar-brand mr-0 mr-md-2" href="index.php">Brand</a>
    <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      {% for item in site.data.navigation %}
      <a class="nav-link" href="{{ item.link }}" {% if page.url == item.link %}style="color: red;" {% endif %}>
        {{ item.name }}
      </a>
      {% endfor %}
      <!--<form class="form-inline mt-2 mt-md-0">
						<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>-->
    </div>

    <!--
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item"><a class="nav-link p-2">link1</a></li>
            <li class="nav-item"><a class="nav-link p-2">link2</a></li>
            <li class="nav-item"><a class="nav-link p-2">link3</a></li>
            <li class="nav-item"><a class="nav-link p-2">link4</a></li>
          </ul>
        -->
  </div>
</header>