<div id="bal-o365">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 sk-title-cont">
            <h6 class="skill-title">Infrastructure Management</h6>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8" style="width: 65%; height: auto;">
            <ul class="sk-list">
                <li class="skill-svc">AD DS</li>
                <li class="skill-svc">Exchange On-Premise</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" style="width: 35%; height: auto;">
            <div class="row sk-bar-row-50">
                <div class="col-lg-12 sk-bar">
                    <div class="col-fill sk-bar-70"></div>
                </div>
            </div>
            <div class="row sk-bar-row-50">
                <div class="col-lg-12 sk-bar">
                    <div class="col-fill sk-bar-60"></div>
                </div>
            </div>
        </div>
    </div>
</div>