<div id="ouibounce-modal">
  <div class="underlay"></div>
  <div class="ouibounce-modal">
    <div class="ouibounce-modal-title">
      <h3>Contact Me</h3>
    </div>

    <div class="ouibounce-modal-body">
      <p>Thank you for checking my page!</p>
      <br>
      <p>If you're looking for someone to do some updates on your website or build it from scratch, visit <a href="https://www.upwork.com/o/profiles/users/_~01955ce7495e884db0/" target="_">my profile</a>.</p>
      <br>
      <p>Or you can simply send me an <a href="mailto:carljohngabato@gmail.com">e-Mail</a> for some question(s).</p>

      <!--<form>
          <input type="text" placeholder="you@email.com">
          <input type="submit" value="learn more »">
          <p class="form-notice">*this is a fake form</p>
        </form>-->
    </div>
  </div>
</div>