/*Navigation styles*/
.current-page{
  color: white;
  background-color: #800000ff;
}
/*======================================*/
h1, h2, h3, h4, h5, h6{
  margin: 0 !important;
}
.nopadding{
  padding:0px 0px 0px 0px !important;
}

.avatar-1{
  border-style: solid;
  border-radius: 100% !important;
  height: 250px;
  width: 250px;
  border-color: azure;
  border-width: thick;
}

div.avatar-row{
  position: relative;
}

div.avatar{
  position: absolute;
  padding-top: 75px;
}

img.avatar {
  border-style: solid;
  border-radius: 100% !important;
  height: 250px;
  width: 250px;
  border-color: azure;
  border-width: thick;
}

img.avatar-bg{
  height: 100%;
  width: 100%;
  opacity: 75%;
}

p.certs{
  font-size: small;
}

a.certs{
  color: aliceblue;
}

.b-container{
  background-color: #ebebeb;
  padding: 50px 0px 50px 0px;
}

h4{
  text-align: center;
}

.objective-title{
  height: 30px;
  background-color: #800000ff;
}
.objective-title h5{
  color: #ffffff;
  text-align: center;
}
.objective-body{
  text-align: center;
  text-indent: 5px;
}
.emp-history-title{
  height: 30px;
  background-color: #800000ff;
}
.emp-history-title h5 {
  color: #ffffff;
  text-align: center;
}
.education-title{
  height: 30px;
  background-color: #800000ff;
}
.education-title h5{
  color: #ffffff;
  text-align: center;
}
.skills-body h8{
  text-indent: 10px;
}
.p2{
  margin: 0px;
}

/*Skills*/
h8.skill-title{
  font-size: 15px;
  font-weight: 400;
}
.skill-svc{
  font-size: 12.5px;
}

/*Employment section*/
p.job-title{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 1px !important;
  text-decoration-line: underline;
  margin-right: 5%;
}
.company-name{
  font-style: italic;
  font-size: 13px;
  color: gray;
  margin-bottom: 1px !important;
  margin-top: 1px !important;
  font-weight: 500;
  margin-right: 5%;
}
p.emp-dates{
  font-size: 13px;
  margin-bottom: 0 !important;
  font-weight: 500;
  margin-left: 5%;
}
p.time-span{
  font-size: 10px;
  text-indent: 15px;
  color: gray;
  margin: auto;
}
/*========================*/

/*School section*/
.course-title{
  text-indent: 15px;
  margin: 0px;
  text-decoration-line: underline;
}
.school-name{
  text-indent: 15px;
  margin: 0px;
  font-style: italic;
  font-size: 13px;
  font-weight: 500;
  color: gray;
}
.school-address{
  font-size: 12px;
  text-indent: 15px;
  margin: 0px;
}
.school-contact{
  text-indent: 15px;
  margin: 0px;
  font-style: italic;
  font-size: 12px;
}
/*========================*/

/*Left Pane*/
span.skills-desc{
  font-size: 10px;
  color: gray;
}
.green-bar{
  height: 15px;
  width: 15px;
}
.red-bar{
  height: 15px;
  width: 15px;
}
.list-inline-item{
  margin: 0px !important;
}
ul.expertise{
  list-style-type: none;
}
ul.skills-list{
  list-style-type: circle;
  font-size: 12.5px;
  font-weight: 300;
}
/*========================*/

/*Right Panes*/
.education{
  border-left: 1px solid black;
}
.emp-history{
  border-left: 1px solid black;
}
.emp-role {
  font-size: 10px;
}
.emp-role-list{
  font-size: 10px;
}
/*========================*/

/*Scroll up button*/
#return-to-top {
    position: fixed;
    bottom: 45px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #800000ff;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/*========================*/

/* Extra Things */
body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}

.ad-bg-custom{
    background-color: #4A777A	!important;
}
.ad-bg-custom:hover{
    background-color: #2F4F4F !important;
  }
.bg-custom {
    background-color: #008081 !important;
}
.brandlogo{
  margin-top: 75px;
  height: 200px;
}

/*Hover Effects*/
img.default-icon{
  position: relative !important;
  margin: auto !important;
  height: 35px !important;
  width: 35px !important;
}
img.overlay-img{
  position: absolute !important;
  margin: auto !important;
  height: 35px !important;
  width: 35px !important;
  left: 11px !important;
  top: 0px !important;
  z-index: 1;
}

img.default-icon:hover {
  opacity: 0;
  transition: .5s ease;
}
img.overlay-img{
  opacity: 0;
}
img.overlay-img:hover{
  opacity: 1;
  transition: .5s ease;
}
/*========================*/

/*OuiBounce Modal*/
#ouibounce-modal {
  font-family: 'Open Sans', sans-serif;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#ouibounce-modal .underlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
#ouibounce-modal .ouibounce-modal {
  width: 600px;
  height: 400px;
  background-color: #f0f1f2;
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  -webkit-animation: popin 0.3s;
  animation: popin 0.3s;
}
#ouibounce-modal .ouibounce-modal-title {
  font-size: 18px;
  background-color: #252525;
  color: #fff;
  padding: 10px;
  margin: 0;
  border-radius: 4px 4px 0 0;
  text-align: center;
}
#ouibounce-modal h3 {
  color: #fff;
  font-size: 1em;
  margin: 0.2em;
  text-transform: uppercase;
  font-weight: 500;
}
#ouibounce-modal .ouibounce-modal-body {
  padding: 20px 35px;
  font-size: 0.9em;
}
#ouibounce-modal p {
  color: #344a5f;
  line-height: 1.3em;
}
#ouibounce-modal form {
  text-align: center;
  margin-top: 35px;
}
#ouibounce-modal form input[type=text] {
  padding: 12px;
  font-size: 1.2em;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
  -webkit-font-smoothing: antialiased;
}
#ouibounce-modal form input[type=submit] {
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px;
  font-size: 1.1em;
  border-radius: 4px;
  color: #fff;
  background-color: #4ab471;
  border: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}
#ouibounce-modal form p {
  text-align: left;
  margin-left: 35px;
  opacity: 0.8;
  margin-top: 1px;
  padding-top: 1px;
  font-size: 0.9em;
}
#ouibounce-modal .ouibounce-modal-footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
#ouibounce-modal .ouibounce-modal-footer p {
  text-transform: capitalize;
  cursor: pointer;
  display: inline;
  border-bottom: 1px solid #344a5f;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes popin {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  85% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-ms-keyframes popin {
  0% {
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  85% {
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes popin {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  85% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}


/*TEST AREA*/
.emp-date-cont{
  width: 35%;
  text-align: left;
}
.emp-title-cont{
  width: 65%;
  text-align: right;
}
.cont-cont{
  width: 33.33%;
  height: 100%;
}
.ref-cont{
  width: 50%;
  height: 100%;
}
.ref-name{
  font-size: larger;
  font-weight: 500;
  text-decoration: underline;
  margin: 0 !important;
}
.ref-tit{
  font-style: italic;
  font-size: smaller;
  margin: 0 !important;
}
.ref-comp{
  margin: 0 !important;
  font-size: small;
  font-weight: 500;
}
.ref-num{
  margin: 0 !important;
  font-size: small;
  font-weight: lighter;
  font-style: italic;
}
.ref-eml{
  margin: 0 !important;
  font-size: small;
  font-weight: lighter;
}
#xp-title:hover ~ #xp-desc{
  transition: all 1s ease-in-out;
  background-color: yellow;
}
.xp-lbl{
  height: auto;
  width: 70%;
}
.xp-mtr{
  width: 30%;
  padding-left: 10%;
  padding-right: 0 !important;
  margin: 0 !important;
  display: grid;
  align-items: center;
}
.xp-bar-mtr-cont{
  width: -webkit-fill-available;
  height: 75%;
}
.xp-bar-mtr{
  border-style: solid;
  width: -webkit-fill-available;
  border-width: thin;
  margin-right: 10%;
}
.t-container{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
}
.row-1{
  background-color: black;
  height: 40%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  position: relative;
}
.row-1-bg{
  height: inherit;
  width: -webkit-fill-available;
}
.row-1-overlay{
  position: absolute;
  height: 100%;
  width: -webkit-fill-available;
  overflow: auto;
}
.row-1-overlay-col-1{
  height: inherit;
  display: grid;
  align-items: center;
}
.profile{
  text-align: justify;
  color: antiquewhite;
  font-size: 1.5vw;
}
.row-1-overlay-col-2{
  height: inherit;
  display: grid;
  align-items: center;
  float: right;
}
img.avatar-overlay{
  border-style: solid;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  border-color: azure;
  border-width: thick;
}
.row-2{
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.row-2-col-1{
  height: 50%;
  width: -webkit-fill-available;
}
.expertise-row{
  height: auto !important;
  width: -webkit-fill-available;
}
.col-cont-1{
  width: 50%;
}
.col-cont-2{
  width: 50%;
}
.row-col-cont-1{
  height: 33%;
  width: -webkit-fill-available;
  display: grid;
  place-items: center;
  place-content: center;
  overflow: hidden;
  position: relative;
}
img.def-icn{
  position: absolute;
  height: 35px;
  width: 35px;

}
img.def-icon:hover{
  opacity: 0;
  transition: .5 ease;
}
img.over-icn{
  position: relative !important;
  height: 35px;
  width: 35px;
  opacity: 0;
}
img.over-icn:hover{
  transition: .5 ease;
  opacity: 1;
}
.row-col-cont-2{
  height: 33%;
  width: -webkit-fill-available;
  display: grid;
  place-items: center;
  place-content: center;
  overflow: hidden;
  position: relative;
}
.socials{
  width: 16.66%;
  height: -webkit-fill-available;
}
.col-2-row-2{
  margin: 0px;
  padding: 0px;
  height: auto;
}
.row-2-col-2-row-1{
  height: auto;
  width: -webkit-fill-available;
}
.row-exp{
  border-color: red;
}
.exp-title-cont{
  display: grid;
  place-items: center;
  place-content: center;
  border-style: solid;
}
.row-exp-title{
  height: inherit;
  width: -webkit-fill-available;
  max-width: max-content;
  max-height: max-content;
}
.row-jobs{
  border-style: dotted;
  height: auto;
  width: -webkit-fill-available;
}
.exp-font-sz{
  font-size: small;
}
.row-2-col-2-row-2{
  height: auto;
  width: -webkit-fill-available;
}
.sk-title-cont{
  padding: 3% !important;
}
.sk-list{
  padding-left: 10% !important;
  margin: 0 !important;
}
.sk-bar-row-100{
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.sk-bar-row-50{
  height: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.sk-bar-row-33{
  height: 33%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.sk-bar-row-25{
  height: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.sk-bar{
  border-style: solid;
  border-width: thin;
  padding: 0 !important;
  margin-right: 10% !important;
  width: -webkit-fill-available;
}
.sk-bar-90{
  background-color: green;
  width: 90%;
  height: 100%;
}
.sk-bar-80{
  background-color: green;
  width: 80%;
  height: 100%;
}
.sk-bar-70{
  background-color: green;
  width: 70%;
  height: 100%;
}
.sk-bar-60{
  background-color: green;
  width: 60%;
  height: 100%;
}
.sk-bar-50{
  background-color: green;
  width: 50%;
  height: 100%;
}
.row-2-col-2-row-3{
  height: auto;
  width: -webkit-fill-available;
}
.sy-dates{
  float: left;
  text-align: left !important;
  padding: 0px !important;
}
.sch-info{
  text-align: right;
  text-indent: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  font-size: smaller;
}
.row-2-col-2-row-4{
  height: auto;
  width: -webkit-fill-available; 
}
.bar-meter{
  border-style: solid;
}
.fill-cont{
  height: 100%;
}
.bar-filled{
  background-color: green;
}